<!-- <div class="container">
	<hr>
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>来自赵飞月小组,小组成员:赵飞月,白相辰,李子祺,尚洁,邬丽娜</p>
			</div>
		</div>
	</footer>
</div> -->
<div class="footer">
	<div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-6">
                <h4></h4>
                <p>欢迎你加入，这里有你想要的.</p>
            </div>
            <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                <div class="row about">
                    <div class="col-xs-3">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="">关于我们</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-3">
                        <h4>小组成员</h4>
                        <ul class="list-unstyled">
                            <li>赵飞月</li>
                            <li>尚洁</li>
                            <li>白相辰</li>
                            <li>邬丽娜</li>
                            <li>李子祺</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Copyright &copy;2017. n 赵飞月小组 Software All Rights Reserved.</li>
            </ul>
        </div>
    </div>
</div>