<!-- 商品详情组件内容 -->
<div class="thumbnail">
	<!-- 商品图片 -->
	<img src="{{product.imgSrc}}" alt="">
	<!-- 商品价格,标题,描述 -->
	<div>
		<h4 class="pull-right">{{product.price}}元</h4>
		<h4>{{product.title}}</h4>
		<p>{{product.desc}}</p>
	</div>
	<!-- 商品评论 -->
	<div>
		<p class="pull-right">评论数: {{comments.length}}</p>
		<p>
			<app-stars [rating]="product.rating"></app-stars>
		</p>
	</div>
</div>

<div class="well">
	<!-- 添加评价的部分 -->
	<div>
		<button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
	</div>
	<div [hidden]="isCommentHidden">
		<div>
			<app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
		</div>
		<div>
			<textarea [(ngModel)]="newComment"></textarea>
		</div>
		<div>
			<button class="btn" (click)="addComment()">提交</button>
		</div>
	</div>
	<div class="row" *ngFor="let comment of comments">
		<hr>
		<div class="col-md-12">
			<app-stars [rating]="comment.rating"></app-stars>
			<span>{{comment.user}}</span>
			<span class="pull-right">{{comment.timestamp}}</span>
			<p></p>
			<p>{{comment.content}}</p>
		</div>
	</div>
</div>
